.img-block{
    display: inline-block;
}
figure{
    display: inline-block;
}
.div-table{
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
}
table{
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.imgHeadContainer{
    display: inline-block;
    position: relative;
    /*width:100%;*/
    /*height:1000px;*/
    /*overflow:hidden;*/
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#rectangular {
    -webkit-clip-path: inset(30px 10px 30px 10px);
    clip-path: inset(30px 10px 30px 10px);
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}
